# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
Tomato/Tomato/obj/Debug/Tomato.csproj.FileListAbsolute.txt
Tomato/Tomato/obj/Debug/Tomato_MarkupCompile.i.cache
Tomato/Tomato/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Tomato/.vs/Tomato/v14/.suo
Tomato/Tomato/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Tomato/Tomato/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
*.cache
Tomato/Tomato/obj/Debug/Tomato_MarkupCompile.i.lref
Tomato/Tomato/obj/Debug/App.g.cs
Tomato/Tomato/obj/Debug/MainWindow.baml
Tomato/Tomato/obj/Debug/MainWindow.g.cs
Tomato/Tomato/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Tomato/Tomato/obj/Debug/Tomato.Properties.Resources.resources
Tomato/Tomato/obj/Debug/Tomato.exe
Tomato/Tomato/obj/Debug/Tomato.g.resources
Tomato/Tomato/obj/Debug/Tomato.pdb
Tomato/Tomato/obj/Debug/TomatoPlantWindow.baml
Tomato/Tomato/obj/Debug/TomatoPlantWindow.g.cs
Tomato/Tomato/obj/Debug/TomatoPlantWindow.g.i.cs
Tomato/Tomato/obj/Debug/Tomato_MarkupCompile.lref
Tomato/Tomato/obj/Debug/MainWindow.g.i.cs
Tomato/Tomato/obj/Release/App.g.cs
Tomato/Tomato/obj/Release/App.g.i.cs
Tomato/Tomato/obj/Release/InputMessageBox.baml
Tomato/Tomato/obj/Release/InputMessageBox.g.cs
Tomato/Tomato/obj/Release/InputMessageBox.g.i.cs
Tomato/Tomato/obj/Release/MainWindow.baml
Tomato/Tomato/obj/Release/MainWindow.g.cs
Tomato/Tomato/obj/Release/MainWindow.g.i.cs
Tomato/Tomato/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Tomato/Tomato/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Tomato/Tomato/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Tomato/Tomato/obj/Release/Tomato.csproj.FileListAbsolute.txt
Tomato/Tomato/obj/Release/Tomato.exe
Tomato/Tomato/obj/Release/Tomato.g.resources
Tomato/Tomato/obj/Release/Tomato.pdb
Tomato/Tomato/obj/Release/Tomato.Properties.Resources.resources
Tomato/Tomato/obj/Release/Tomato_MarkupCompile.i.lref
Tomato/Tomato/obj/Release/Tomato_MarkupCompile.lref
Tomato/Tomato/obj/Release/TomatoPlantWindow.baml
Tomato/Tomato/obj/Release/TomatoPlantWindow.g.cs
Tomato/Tomato/obj/Release/TomatoPlantWindow.g.i.cs
Tomato/Tomato/obj/Debug/App.g.i.cs
Tomato/Tomato/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
Tomato/Tomato/obj/Debug/InputMessageBox.baml
